.homePageLeft{
	width: 60%;
	float: left;
}

.homePageRight{
	width: 39%;
	float: right;
}

.newsDate{
	font-size: 12px;
}

.slideshow { height: 232px; width: 232px; margin-bottom: 20px; }
.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }

ul {
	padding-left: 40px;
}